.sidebar {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 100vh;
    padding: 10px;
    display: flex;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: yellow;
}